.header {
    margin-top: 25px;
    width: 90%;
    display: flex;

    .team {
        width: 30%;
        border: 3px solid;
        border-radius: 3px;
        padding: 7px;

        .team-member {
            cursor: pointer;
            user-select: none;
        }
    }
    
    .red-team {
        border-color: red;
    }
    
    .blue-team {
        border-color: blue;
    }

    .controls {
        width: 40%;
        padding: 7px;
        display: flex;
        justify-content: center;

        .randomize-teams {
            margin-left: 3px;
        }
    }
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;

    .game-row {
        width: 100%;
        display: flex;
        align-items: center;
    }

    .word {
        width: 15%;
        margin-left: 1%;
        margin-top: 9px;
        height: 50px;
        word-break: break-all;
        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: pointer;
        user-select: none;

        .word-text {
            display: flex;
            justify-content: center;
            width: 100%;
        }
    }

    .word.red {
        color: red;
    }
    .word.blue {
        color: #03039c;
    }
    .word.black {
        color: black;
    }
    .word.white {
        color: white;
    }
    .word.revealed.red {
        background-color: red;
        color: black;
    }
    .word.revealed.blue {
        background-color: #03039c;
        color: white;
    }
    .word.revealed.black {
        background-color: black;
        color: white;
    }
    .word.revealed.white {
        background-color: white;
        color: black;
    }

    .word:hover {
        background: #585858;
    }
}


@media(min-width: 801px) {
    .game {
        width: 90%;
    
        .word {
            font-size: 16px;
        }
    }
}

@media(max-width: 800px) {

    .game {
        width: 98%;
        .word {
            font-size: 12px;
        }
    }


    .header {
        width: 98%;
    }
    
    .controls {
        flex-direction: column;
        align-items: center;

        .randomize-teams {
            margin-top: 5px;
        }
    }
}


