<div class="centered-container" *ngIf="session">

    <div class="header">
        <div class="team-container">
            <div class="red-team team">
                <div class="team-member" *ngFor="let user of session.redTeam" (click)="makeCzar(user, 'red')">
                    {{user}}{{user == session.host ? ' (host)' : ''}}
                </div>
            </div>
            <div style="margin-top: 5px;">{{'Cards remaining: ' + session.redCount}}</div>
        </div>


        <div class="controls">
            <ng-container *ngIf="username == session.host">
                <button mat-raised-button (click)="newGame()">New Game</button>
                <button class="randomize-teams" mat-raised-button (click)="randomizeTeams()">Randomize Teams</button>
            </ng-container>
        </div>

        <div class="team-container">
            <div class="blue-team team">
                <div class="team-member" *ngFor="let user of session.blueTeam" (click)="makeCzar(user, 'blue')">
                    {{user}}{{user == session.host ? ' (host)' : ''}}
                </div>
            </div>
            <div style="margin-top: 5px;">{{'Cards remaining: ' + session.blueCount}}</div>
        </div>

    </div>

    <div class="game">
        <ng-container *ngFor="let rowIndex of rowIndexes">
            <div class="game-row">
                <mat-card class="word" *ngFor="let columnIndex of rowIndexes;" (click)="cardClicked((rowIndex * 5) + columnIndex)"
                    [class.red]="session.board[(rowIndex * 5) + columnIndex].color == 'red'"
                    [class.blue]="session.board[(rowIndex * 5) + columnIndex].color == 'blue'"
                    [class.white]="session.board[(rowIndex * 5) + columnIndex].color == 'white'"
                    [class.black]="session.board[(rowIndex * 5) + columnIndex].color == 'black'"
                    [class.revealed]="session.board[(rowIndex * 5) + columnIndex].revealed">
                    <div class="word-text">{{session.board[(rowIndex * 5) + columnIndex].word}}</div>
                    <div class="word-border"></div>
                </mat-card>
            </div>
        </ng-container>
        
    </div>

    <div #chatMessageContainer class="message-container" style="margin-top: 15px">
        <div style="word-break: break-all">{{chatMessages}}</div>
    </div>

</div>
