.lobby-container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.lobby-field {
    width: 30%;
}

.session-list {
    margin-top: 10px;
    border: 3px solid;
    padding: 5px;
    border-radius: 3px;
    border-color: #5f5f5f;
    min-height: 249px;
}

.game-session {
    cursor: pointer;
}

.game-session:hover {
    background: #585858;
}

@media(max-width: 1000px) {
    .lobby-field {
        width: 50%;
    }
}

