<div class="lobby-container">
    <h1>Lobby</h1>
    <div class="lobby-field">
        <mat-form-field style="width: calc(100% - 100px)">
            <input [(ngModel)]="usernameEdit" autocomplete="off" (keydown.enter)="updateUsername()" type="text" matInput placeholder="Username">
        </mat-form-field>
        <button mat-raised-button style="margin-left: 7px;" (click)="updateUsername()">Update</button>
    </div>
    <div class="lobby-field" style="color: green">
        {{usernameUpdatedText}}
    </div>

    <h3>Game Sessions</h3>
    <div class="lobby-field" style="display: flex; justify-content: flex-end;">
        <button mat-raised-button (click)="newGame()">New Game</button>
    </div>

    <div class="lobby-field session-list">
        <div *ngIf="!gameSessions || gameSessions.length == 0">There are no game sessions currently active.</div>
        <mat-card class="game-session" *ngFor="let session of gameSessions" (click)="joinSession(session)">
            <div style="font-size: 20px; margin-bottom: 5px;">{{session.roomName}}</div>
            <mat-card-subtitle>host: {{session.host}} | players: {{session.players}}</mat-card-subtitle>
        </mat-card>
    </div>
    

</div>